.App {
  text-align: center;
  background-color: #aeb8fe;
  padding: 0px;
}

h1 {
  background-color: #2e2e3a;
  color: #cbc0ae;
  padding: 0;
  margin: auto;
}

h2 {
  display: inline-flex;
  align-items: center;
  color: #cbc0ae;
  padding: 0px;
  margin: 0px;
  margin-bottom: 50px;
  height: 50px;

}

.box {
  background-color:#16103b;
  border: solid #2e2e3a 2px;
  padding: 50px;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  height: 85px;
  width: 85px;
  flex-direction: row;
  text-align: center;
  margin: 15px;
  justify-content: space-between;
}