.App {
  text-align: center;
  background-color: #aeb8fe;
  padding: 0px;
  /* margin: auto; */
}

h1 {
  background-color: #2e2e3a;
  color: #cbc0ae;
  padding: 0;
  margin: auto;
  margin-bottom: 30px;
}

h2 {
  display: flex;
  align-items: start;
  color: #cbc0ae;
  padding: 0px;
  margin: auto;
  margin-bottom: 30px;
  height: 60px;
  text-align: center;
}

.box {
  background-color:#2e2e3a;
  border: solid #2e2e3a 5px;
  padding: 40px;
  display: inline-flex;
  flex-wrap: wrap;
  height: 85px;
  width: 90px;
  flex-direction: row;
  text-align: center;
  margin: 15px;
  justify-content: space-between;
  font-size: 12px;;
}